openapi: 3.2.0
info:
  title: Entitlements Agent (PDP) Metrics API
  description: 'The endpoints in this section pertain to the usage of an Entitlements Agent. When your application or service needs to verify entitlements, it can query the Entitlements Agent directly via HTTP.


    These endpoints can be integrated into any backend framework, enabling you to leverage entitlements for advanced authorization needs.'
  version: '1.0'
tags:
- name: Metrics
  x-displayName: Metrics
paths:
  /resources/metrics/v1:
    servers:
    - url: https://api.frontegg.com/audits
      description: EU Region
    - url: https://api.us.frontegg.com/audits
      description: US Region
    - url: https://api.ca.frontegg.com/audits
      description: CA Region
    - url: https://api.au.frontegg.com/audits
      description: AU Region
    - url: https://{domain}.frontegg.com/audits
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    get:
      operationId: MetricsController_getMetrics
      summary: Get Metrics
      description: Retrieve audit-related metrics for your environment within a specified time range. You can use query parameters to define the time window, result limit, and aggregation frequency. The response includes top resources, top accounts (tenants), and audit event counts over time. This request requires an environment token for authentication.
      parameters:
      - name: from
        required: false
        in: query
        schema:
          type: number
        description: ''
      - name: to
        required: false
        in: query
        schema:
          type: number
        description: ''
      - name: limit
        required: false
        in: query
        schema:
          type: number
        description: ''
      - name: frequency
        required: false
        in: query
        schema:
          type: number
        description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponseDto'
      tags:
      - Metrics
      security:
      - bearer: []
components:
  schemas:
    MetricsResponseDto:
      type: object
      properties:
        topResources:
          $ref: '#/components/schemas/TopResources'
          description: ''
        topTenants:
          $ref: '#/components/schemas/TopTenants'
          description: ''
        auditsCounterByTime:
          type: object
          description: ''
      required:
      - topResources
      - topTenants
      - auditsCounterByTime
    TopResources:
      type: object
      properties: {}
    TopTenants:
      type: object
      properties: {}
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-tagGroups:
- name: Entitlements Agent (PDP)
  tags:
  - Entitlements Check
- name: Audits Overview
  tags:
  - Main
  - Metrics
- name: Entitlements Overview
  tags:
  - Plans
  - API Access Control
  - API Access Control Configurations
  - Features
  - Entitlements
  - Feature Flags
  - ReBAC
- name: Authentication and Identity Management
  tags:
  - API token
  - API tokens
  - Account invitations
  - Account invitations settings
  - Account roles
  - Approval Flows
  - Core settings
  - Custom social OAuth provider
  - Data migration
  - Delegation
  - Domain restrictions
  - Email configuration
  - Email templates
  - General
  - IP restrictions
  - Lockout policy
  - M2M tokens
  - MFA
  - MFA configuration
  - MFA settings
  - Password settings
  - Passwordless
  - Permissions
  - Permissions categories
  - Personal tokens
  - Roles
  - SMS
  - SMS configuration
  - SMS templates
  - Sessions configuration
  - Sessions management
  - User emails policy
  - User groups
  - User management
  - Users
  - User pools
  - User sessions
  - Users-applications management
- name: SCIM Provisioning Overview
  tags:
  - SCIM settings
  - SCIM configurations
- name: Single Sign-On Overview
  tags:
  - SAML configurations
  - SSO settings
  - SSO configurations
  - OIDC configurations
- name: Account Management Overview
  tags:
  - Accounts
  - tenants_other
  - Sub-accounts
  - Account settings
  - Account migration
  - Sub-accounts and hierarchy
