openapi: 3.2.0
info:
  title: Entitlements Agent (PDP) SCIM Settings API
  description: 'The endpoints in this section pertain to the usage of an Entitlements Agent. When your application or service needs to verify entitlements, it can query the Entitlements Agent directly via HTTP.


    These endpoints can be integrated into any backend framework, enabling you to leverage entitlements for advanced authorization needs.'
  version: '1.0'
tags:
- name: SCIM Settings
  x-displayName: SCIM settings
paths:
  /resources/v1/configurations/scim2:
    servers:
    - url: https://api.frontegg.com/directory
      description: EU Region
    - url: https://api.us.frontegg.com/directory
      description: US Region
    - url: https://api.ca.frontegg.com/directory
      description: CA Region
    - url: https://api.au.frontegg.com/directory
      description: AU Region
    - url: https://{domain}.frontegg.com/directory
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    get:
      operationId: Scim2ConnectionConfigController_fetchAll
      summary: Get All SCIM Configurations
      description: Retrieve all provisioning (SCIM) configurations for the environment.
      parameters:
      - name: tenantId
        required: false
        in: query
        schema:
          type: string
      - name: source
        required: false
        in: query
        schema:
          type: string
      - name: connectionName
        required: false
        in: query
        schema:
          type: string
      - name: id
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of SCIM configurations. Vendor only endpoint
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Scim2ConnectionConfigResponse'
      tags:
      - SCIM Settings
components:
  schemas:
    Scim2ConnectionConfigResponse:
      type: object
      properties:
        id:
          type: string
        tenantId:
          type: string
        connectionName:
          type: string
        source:
          type: string
        syncToUserManagement:
          type: boolean
        lastSync:
          format: date-time
          type:
          - string
          - 'null'
        createdAt:
          format: date-time
          type: string
      required:
      - id
      - tenantId
      - connectionName
      - source
      - syncToUserManagement
      - lastSync
      - createdAt
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-tagGroups:
- name: Entitlements Agent (PDP)
  tags:
  - Entitlements Check
- name: Audits Overview
  tags:
  - Main
  - Metrics
- name: Entitlements Overview
  tags:
  - Plans
  - API Access Control
  - API Access Control Configurations
  - Features
  - Entitlements
  - Feature Flags
  - ReBAC
- name: Authentication and Identity Management
  tags:
  - API token
  - API tokens
  - Account invitations
  - Account invitations settings
  - Account roles
  - Approval Flows
  - Core settings
  - Custom social OAuth provider
  - Data migration
  - Delegation
  - Domain restrictions
  - Email configuration
  - Email templates
  - General
  - IP restrictions
  - Lockout policy
  - M2M tokens
  - MFA
  - MFA configuration
  - MFA settings
  - Password settings
  - Passwordless
  - Permissions
  - Permissions categories
  - Personal tokens
  - Roles
  - SMS
  - SMS configuration
  - SMS templates
  - Sessions configuration
  - Sessions management
  - User emails policy
  - User groups
  - User management
  - Users
  - User pools
  - User sessions
  - Users-applications management
- name: SCIM Provisioning Overview
  tags:
  - SCIM settings
  - SCIM configurations
- name: Single Sign-On Overview
  tags:
  - SAML configurations
  - SSO settings
  - SSO configurations
  - OIDC configurations
- name: Account Management Overview
  tags:
  - Accounts
  - tenants_other
  - Sub-accounts
  - Account settings
  - Account migration
  - Sub-accounts and hierarchy
