openapi: 3.2.0
info:
  title: Entitlements Agent (PDP) Custom Social OAuth Provider API
  description: 'The endpoints in this section pertain to the usage of an Entitlements Agent. When your application or service needs to verify entitlements, it can query the Entitlements Agent directly via HTTP.


    These endpoints can be integrated into any backend framework, enabling you to leverage entitlements for advanced authorization needs.'
  version: '1.0'
tags:
- name: Custom Social OAuth Provider
  x-displayName: Custom social OAuth provider
paths:
  /resources/sso/custom/v1:
    servers:
    - url: https://api.frontegg.com/identity
      description: EU Region
    - url: https://api.us.frontegg.com/identity
      description: US Region
    - url: https://api.ca.frontegg.com/identity
      description: CA Region
    - url: https://api.au.frontegg.com/identity
      description: AU Region
    - url: https://{domain}.frontegg.com/identity
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    post:
      operationId: CustomSsoV1Controller_createSsoProvider
      summary: Create Custom Oauth Provider
      description: 'Create a custom social login provider using the OAuth details of the identity provider.


        Provide the required OAuth parameters in the request body.'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomSsoRequestDto'
      responses:
        '200':
          description: ''
      tags:
      - Custom Social OAuth Provider
      security:
      - bearer: []
    get:
      operationId: SsoV2Controller_getSsoProviders
      summary: Get Custom Oauth Provider
      description: Retrieve the custom social login providers configured in your environment.
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Custom Social OAuth Provider
      security:
      - bearer: []
  /resources/sso/custom/v1/{id}:
    servers:
    - url: https://api.frontegg.com/identity
      description: EU Region
    - url: https://api.us.frontegg.com/identity
      description: US Region
    - url: https://api.ca.frontegg.com/identity
      description: CA Region
    - url: https://api.au.frontegg.com/identity
      description: AU Region
    - url: https://{domain}.frontegg.com/identity
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    patch:
      operationId: CustomSsoV1Controller_updateSsoProvider
      summary: Update Custom Oauth Provider
      description: 'Update a custom social login provider in your environment by ID.


        Provide the ID of the custom social login provider and the desired OAuth parameters in the request body.'
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSsoRequestDto'
      responses:
        '200':
          description: ''
      tags:
      - Custom Social OAuth Provider
      security:
      - bearer: []
    delete:
      operationId: CustomSsoV1Controller_deleteCustomSsoConfig
      summary: Delete Custom Oauth Provider
      description: 'Delete a custom social login provider in your environment by ID.


        Provide the ID of the custom social login provider to delete.'
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Custom Social OAuth Provider
      security:
      - bearer: []
components:
  schemas:
    CreateCustomSsoRequestDto:
      type: object
      properties:
        type:
          type: string
        clientId:
          type: string
        secret:
          type: string
        redirectUrl:
          type: string
        authorizationUrl:
          type: string
        tokenUrl:
          type: string
        userInfoUrl:
          type: string
        scopes:
          type: string
        ssoLogoUrl:
          type: string
        displayName:
          type: string
        active:
          type: boolean
      required:
      - type
      - clientId
      - secret
      - redirectUrl
      - authorizationUrl
      - tokenUrl
      - userInfoUrl
      - scopes
      - ssoLogoUrl
      - displayName
      - active
    UpdateCustomSsoRequestDto:
      type: object
      properties:
        type:
          type: string
        clientId:
          type: string
        secret:
          type: string
        redirectUrl:
          type: string
        authorizationUrl:
          type: string
        tokenUrl:
          type: string
        userInfoUrl:
          type: string
        scopes:
          type: string
        ssoLogoUrl:
          type: string
        displayName:
          type: string
        active:
          type: boolean
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-tagGroups:
- name: Entitlements Agent (PDP)
  tags:
  - Entitlements Check
- name: Audits Overview
  tags:
  - Main
  - Metrics
- name: Entitlements Overview
  tags:
  - Plans
  - API Access Control
  - API Access Control Configurations
  - Features
  - Entitlements
  - Feature Flags
  - ReBAC
- name: Authentication and Identity Management
  tags:
  - API token
  - API tokens
  - Account invitations
  - Account invitations settings
  - Account roles
  - Approval Flows
  - Core settings
  - Custom social OAuth provider
  - Data migration
  - Delegation
  - Domain restrictions
  - Email configuration
  - Email templates
  - General
  - IP restrictions
  - Lockout policy
  - M2M tokens
  - MFA
  - MFA configuration
  - MFA settings
  - Password settings
  - Passwordless
  - Permissions
  - Permissions categories
  - Personal tokens
  - Roles
  - SMS
  - SMS configuration
  - SMS templates
  - Sessions configuration
  - Sessions management
  - User emails policy
  - User groups
  - User management
  - Users
  - User pools
  - User sessions
  - Users-applications management
- name: SCIM Provisioning Overview
  tags:
  - SCIM settings
  - SCIM configurations
- name: Single Sign-On Overview
  tags:
  - SAML configurations
  - SSO settings
  - SSO configurations
  - OIDC configurations
- name: Account Management Overview
  tags:
  - Accounts
  - tenants_other
  - Sub-accounts
  - Account settings
  - Account migration
  - Sub-accounts and hierarchy
