openapi: 3.2.0
info:
  title: Entitlements Agent (PDP) SMS Configuration API
  description: 'The endpoints in this section pertain to the usage of an Entitlements Agent. When your application or service needs to verify entitlements, it can query the Entitlements Agent directly via HTTP.


    These endpoints can be integrated into any backend framework, enabling you to leverage entitlements for advanced authorization needs.'
  version: '1.0'
tags:
- name: SMS Configuration
  x-displayName: SMS configuration
paths:
  /resources/configurations/v1/sms:
    servers:
    - url: https://api.frontegg.com/identity
      description: EU Region
    - url: https://api.us.frontegg.com/identity
      description: US Region
    - url: https://api.ca.frontegg.com/identity
      description: CA Region
    - url: https://api.au.frontegg.com/identity
      description: AU Region
    - url: https://{domain}.frontegg.com/identity
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    post:
      operationId: VendorSmsController_createSmsVendorConfig
      summary: Creates or Updates a Vendor SMS Config
      description: 'Create or update the SMS configuration for your environment.


        Provide the desired SMS configuration values in the request body.'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSmsVendorConfigRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsVendorConfigResponse'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsVendorConfigResponse'
      tags:
      - SMS Configuration
      security:
      - bearer: []
    delete:
      operationId: VendorSmsController_deleteSmsVendorConfig
      summary: Deletes a Vendor SMS Config
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - SMS Configuration
      description: Delete the SMS configuration for your environment.
      security:
      - bearer: []
    get:
      operationId: VendorSmsController_getSmsVendorConfig
      summary: Gets a Vendor SMS Config
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsVendorConfigResponse'
      tags:
      - SMS Configuration
      description: Retrieve the SMS configuration for your environment.
      security:
      - bearer: []
components:
  schemas:
    CreateSmsVendorConfigRequest:
      type: object
      properties:
        senderName:
          type: string
          description: The sender name will be used only when alphanumeric sender is supported in the recipient country. This is usually a phone number or the name of the sender, dependeing on what is configured on your Twilio account
        accountId:
          type: string
          description: account ID
        token:
          type: string
          description: token
        serviceId:
          type: string
          description: service ID
        provider:
          type: string
          description: provider
        channel:
          type: string
          description: channel
    SmsVendorConfigResponse:
      type: object
      properties: {}
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-tagGroups:
- name: Entitlements Agent (PDP)
  tags:
  - Entitlements Check
- name: Audits Overview
  tags:
  - Main
  - Metrics
- name: Entitlements Overview
  tags:
  - Plans
  - API Access Control
  - API Access Control Configurations
  - Features
  - Entitlements
  - Feature Flags
  - ReBAC
- name: Authentication and Identity Management
  tags:
  - API token
  - API tokens
  - Account invitations
  - Account invitations settings
  - Account roles
  - Approval Flows
  - Core settings
  - Custom social OAuth provider
  - Data migration
  - Delegation
  - Domain restrictions
  - Email configuration
  - Email templates
  - General
  - IP restrictions
  - Lockout policy
  - M2M tokens
  - MFA
  - MFA configuration
  - MFA settings
  - Password settings
  - Passwordless
  - Permissions
  - Permissions categories
  - Personal tokens
  - Roles
  - SMS
  - SMS configuration
  - SMS templates
  - Sessions configuration
  - Sessions management
  - User emails policy
  - User groups
  - User management
  - Users
  - User pools
  - User sessions
  - Users-applications management
- name: SCIM Provisioning Overview
  tags:
  - SCIM settings
  - SCIM configurations
- name: Single Sign-On Overview
  tags:
  - SAML configurations
  - SSO settings
  - SSO configurations
  - OIDC configurations
- name: Account Management Overview
  tags:
  - Accounts
  - tenants_other
  - Sub-accounts
  - Account settings
  - Account migration
  - Sub-accounts and hierarchy
