openapi: 3.2.0
info:
  title: Frontegg Metrics API
  version: '1.0'
  description: 'Operations tagged Metrics across 2 of this provider''s published API definitions: frontegg-audits-openapi.yml, frontegg-combined-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.frontegg.com/audits
  description: EU Region
- url: https://api.us.frontegg.com/audits
  description: US Region
- url: https://api.ca.frontegg.com/audits
  description: CA Region
- url: https://api.au.frontegg.com/audits
  description: AU Region
- url: https://{domain}.frontegg.com/audits
  description: Frontegg sub-domain for use with user tokens
  variables:
    domain:
      default: app-xxx
tags:
- name: Metrics
paths:
  /resources/metrics/v1:
    get:
      operationId: MetricsController_getMetrics
      summary: Get Metrics
      description: Retrieve audit-related metrics for your environment within a specified time range. You can use query parameters to define the time window, result limit, and aggregation frequency. The response includes top resources, top accounts (tenants), and audit event counts over time. This request requires an environment token for authentication.
      parameters:
      - name: from
        required: false
        in: query
        schema:
          type: number
        description: ''
      - name: to
        required: false
        in: query
        schema:
          type: number
        description: ''
      - name: limit
        required: false
        in: query
        schema:
          type: number
        description: ''
      - name: frequency
        required: false
        in: query
        schema:
          type: number
        description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponseDto'
      tags:
      - Metrics
      security:
      - bearer: []
    servers:
    - url: https://api.frontegg.com/audits
      description: EU Region
    - url: https://api.us.frontegg.com/audits
      description: US Region
    - url: https://api.ca.frontegg.com/audits
      description: CA Region
    - url: https://api.au.frontegg.com/audits
      description: AU Region
    - url: https://{domain}.frontegg.com/audits
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
components:
  schemas:
    TopTenants:
      type: object
      properties: {}
    TopResources:
      type: object
      properties: {}
    MetricsResponseDto:
      type: object
      properties:
        topResources:
          $ref: '#/components/schemas/TopResources'
          description: ''
        topTenants:
          $ref: '#/components/schemas/TopTenants'
          description: ''
        auditsCounterByTime:
          type: object
          description: ''
      required:
      - topResources
      - topTenants
      - auditsCounterByTime
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-refined-from:
- frontegg-audits-openapi.yml
- frontegg-combined-openapi.yml
x-tagGroups:
- name: Management
  tags:
  - Applications settings
