openapi: 3.2.0
info:
  title: Entitlements Agent (PDP) Delegation API
  description: 'The endpoints in this section pertain to the usage of an Entitlements Agent. When your application or service needs to verify entitlements, it can query the Entitlements Agent directly via HTTP.


    These endpoints can be integrated into any backend framework, enabling you to leverage entitlements for advanced authorization needs.'
  version: '1.0'
tags:
- name: Delegation
  x-displayName: Delegation
paths:
  /resources/configurations/v1/delegation:
    servers:
    - url: https://api.frontegg.com/identity
      description: EU Region
    - url: https://api.us.frontegg.com/identity
      description: US Region
    - url: https://api.ca.frontegg.com/identity
      description: CA Region
    - url: https://api.au.frontegg.com/identity
      description: AU Region
    - url: https://{domain}.frontegg.com/identity
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    get:
      operationId: DelegationConfigurationControllerV1_getDelegationConfiguration
      x-vendor-only: 'true'
      summary: Get Delegation Configuration
      description: 'Retrieve the delegation configuration for your environment.


        A valid environment token is required to call this endpoint.'
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDelegationConfigurationResponseDto'
      tags:
      - Delegation
      security:
      - bearer: []
    post:
      operationId: DelegationConfigurationControllerV1_createOrUpdateDelegationConfiguration
      x-vendor-only: 'true'
      summary: Create or Update Delegation Configuration
      description: 'Enable or disable delegation in the token exchange flow.


        Use this endpoint to update the delegation configuration by enabling or disabling delegation for the token exchange flow.


        A valid environment token is required to call this endpoint.'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDelegationConfigurationRequestDto'
      responses:
        '200':
          description: ''
      tags:
      - Delegation
      security:
      - bearer: []
components:
  schemas:
    CreateDelegationConfigurationRequestDto:
      type: object
      properties:
        enabled:
          type: boolean
          description: Used to enable or disable delegation for access tokens created using Token Exchange.
          example: 'true'
    GetDelegationConfigurationResponseDto:
      type: object
      properties:
        enabled:
          type: boolean
          description: Indicates whether delegation has been enabled or disabled.
          example: 'true'
      required:
      - enabled
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-tagGroups:
- name: Entitlements Agent (PDP)
  tags:
  - Entitlements Check
- name: Audits Overview
  tags:
  - Main
  - Metrics
- name: Entitlements Overview
  tags:
  - Plans
  - API Access Control
  - API Access Control Configurations
  - Features
  - Entitlements
  - Feature Flags
  - ReBAC
- name: Authentication and Identity Management
  tags:
  - API token
  - API tokens
  - Account invitations
  - Account invitations settings
  - Account roles
  - Approval Flows
  - Core settings
  - Custom social OAuth provider
  - Data migration
  - Delegation
  - Domain restrictions
  - Email configuration
  - Email templates
  - General
  - IP restrictions
  - Lockout policy
  - M2M tokens
  - MFA
  - MFA configuration
  - MFA settings
  - Password settings
  - Passwordless
  - Permissions
  - Permissions categories
  - Personal tokens
  - Roles
  - SMS
  - SMS configuration
  - SMS templates
  - Sessions configuration
  - Sessions management
  - User emails policy
  - User groups
  - User management
  - Users
  - User pools
  - User sessions
  - Users-applications management
- name: SCIM Provisioning Overview
  tags:
  - SCIM settings
  - SCIM configurations
- name: Single Sign-On Overview
  tags:
  - SAML configurations
  - SSO settings
  - SSO configurations
  - OIDC configurations
- name: Account Management Overview
  tags:
  - Accounts
  - tenants_other
  - Sub-accounts
  - Account settings
  - Account migration
  - Sub-accounts and hierarchy
