openapi: 3.2.0
info:
  title: Entitlements Agent (PDP) User Emails Policy API
  description: 'The endpoints in this section pertain to the usage of an Entitlements Agent. When your application or service needs to verify entitlements, it can query the Entitlements Agent directly via HTTP.


    These endpoints can be integrated into any backend framework, enabling you to leverage entitlements for advanced authorization needs.'
  version: '1.0'
tags:
- name: User Emails Policy
  x-displayName: User emails policy
paths:
  /resources/configurations/v1/user-emails-policy:
    servers:
    - url: https://api.frontegg.com/identity
      description: EU Region
    - url: https://api.us.frontegg.com/identity
      description: US Region
    - url: https://api.ca.frontegg.com/identity
      description: CA Region
    - url: https://api.au.frontegg.com/identity
      description: AU Region
    - url: https://{domain}.frontegg.com/identity
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    get:
      operationId: UserEmailsPolicyControllerV1_getUserEmailsPolicy
      summary: Get User Emails Policy
      description: Get information about the user emails policy. An environment token is required for this route.
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserEmailsPolicyResponseDto'
      tags:
      - User Emails Policy
      security:
      - bearer: []
    post:
      operationId: UserEmailsPolicyControllerV1_createOrUpdateUserEmailsPolicy
      summary: Create or Update User Emails Policy
      description: Enable or disable the ability to change user emails. An environment token is required for this route.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserEmailsPolicyRequestDto'
      responses:
        '200':
          description: ''
      tags:
      - User Emails Policy
      security:
      - bearer: []
components:
  schemas:
    GetUserEmailsPolicyResponseDto:
      type: object
      properties:
        allowEmailChange:
          type: boolean
          description: Indicates whether email change has been enabled or disabled.
          example: 'true'
      required:
      - allowEmailChange
    CreateUserEmailsPolicyRequestDto:
      type: object
      properties:
        allowEmailChange:
          type: boolean
          description: Used to enable or disable email change for users.
          example: 'true'
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-tagGroups:
- name: Entitlements Agent (PDP)
  tags:
  - Entitlements Check
- name: Audits Overview
  tags:
  - Main
  - Metrics
- name: Entitlements Overview
  tags:
  - Plans
  - API Access Control
  - API Access Control Configurations
  - Features
  - Entitlements
  - Feature Flags
  - ReBAC
- name: Authentication and Identity Management
  tags:
  - API token
  - API tokens
  - Account invitations
  - Account invitations settings
  - Account roles
  - Approval Flows
  - Core settings
  - Custom social OAuth provider
  - Data migration
  - Delegation
  - Domain restrictions
  - Email configuration
  - Email templates
  - General
  - IP restrictions
  - Lockout policy
  - M2M tokens
  - MFA
  - MFA configuration
  - MFA settings
  - Password settings
  - Passwordless
  - Permissions
  - Permissions categories
  - Personal tokens
  - Roles
  - SMS
  - SMS configuration
  - SMS templates
  - Sessions configuration
  - Sessions management
  - User emails policy
  - User groups
  - User management
  - Users
  - User pools
  - User sessions
  - Users-applications management
- name: SCIM Provisioning Overview
  tags:
  - SCIM settings
  - SCIM configurations
- name: Single Sign-On Overview
  tags:
  - SAML configurations
  - SSO settings
  - SSO configurations
  - OIDC configurations
- name: Account Management Overview
  tags:
  - Accounts
  - tenants_other
  - Sub-accounts
  - Account settings
  - Account migration
  - Sub-accounts and hierarchy
