openapi: 3.0.0
info:
  title: Multi-Apps Overview Account Invitations Authenticate With Env Credentials API
  description: Frontegg’s Multi-Apps feature simplifies and streamlines application management, delivering a seamless user experience. This section includes all necessary endpoints for managing applications and copying application settings across environments. All endpoints are categorized as **Management Endpoints**, requiring environment-level authorization and providing full control over entitlement resources.
  version: '1.0'
  x-metadata:
    note: Trigger publish artifacts job, remove this x-metadata after publishing
servers:
- url: https://api.frontegg.com/applications
  description: EU Region
- url: https://api.us.frontegg.com/applications
  description: US Region
- url: https://api.ca.frontegg.com/applications
  description: CA Region
- url: https://api.au.frontegg.com/applications
  description: AU Region
- url: https://{domain}.frontegg.com/applications
  description: Frontegg sub-domain for use with user tokens
  variables:
    domain:
      default: app-xxx
tags:
- name: Authenticate With Env Credentials
paths:
  /:
    post:
      operationId: authenticate_vendor
      summary: Authenticate with Env Credentials
      description: Authenticate your environment to get a management token for your environment using the `clientId` and `API key`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorAuthenticationRequest'
      responses:
        '200':
          description: Authentication succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorAuthenticationResponse'
        '401':
          description: Invalid authentication
      tags:
      - Authenticate With Env Credentials
components:
  schemas:
    VendorAuthenticationRequest:
      type: object
      required:
      - clientId
      - secret
      properties:
        clientId:
          type: string
        secret:
          type: string
    VendorAuthenticationResponse:
      type: object
      properties:
        token:
          type: string
        expiresIn:
          type: number
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-tagGroups:
- name: Management
  tags:
  - Applications settings
