openapi: 3.2.0
info:
  title: Frontegg SCIM Configurations API
  version: '1.0'
  description: 'Operations tagged SCIM Configurations across 2 of this provider''s published API definitions: frontegg-combined-openapi.yml, frontegg-scim-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.frontegg.com/directory
  description: EU Region
- url: https://api.us.frontegg.com/directory
  description: US Region
- url: https://api.ca.frontegg.com/directory
  description: CA Region
- url: https://api.au.frontegg.com/directory
  description: AU Region
- url: https://{domain}.frontegg.com/directory
  description: Frontegg sub-domain for use with user tokens
  variables:
    domain:
      default: app-xxx
tags:
- name: SCIM Configurations
  x-displayName: SCIM configurations
paths:
  /resources/v1/configurations/scim2:
    servers:
    - url: https://api.frontegg.com/directory
      description: EU Region
    - url: https://api.us.frontegg.com/directory
      description: US Region
    - url: https://api.ca.frontegg.com/directory
      description: CA Region
    - url: https://api.au.frontegg.com/directory
      description: AU Region
    - url: https://{domain}.frontegg.com/directory
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    post:
      operationId: Scim2ConnectionConfigController_create
      summary: Create a SCIM Configuration
      description: Create a provisioning (SCIM) configuration for an account (tenant).
      parameters:
      - name: frontegg-tenant-id
        in: header
        description: The account (tenant) ID identifier
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Scim2CreateConnectionConfigRequest'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scim2CreateConnectionConfigResponse'
      tags:
      - SCIM Configurations
  /resources/v1/configurations/scim2/{id}:
    servers:
    - url: https://api.frontegg.com/directory
      description: EU Region
    - url: https://api.us.frontegg.com/directory
      description: US Region
    - url: https://api.ca.frontegg.com/directory
      description: CA Region
    - url: https://api.au.frontegg.com/directory
      description: AU Region
    - url: https://{domain}.frontegg.com/directory
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    get:
      operationId: Scim2ConnectionConfigController_fetchById
      summary: Get a SCIM Configuration by ID
      description: Get a provisioning (SCIM) configuration by its ID.
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: frontegg-tenant-id
        in: header
        description: The account (tenant) ID identifier
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scim2ConnectionConfigResponse'
      tags:
      - SCIM Configurations
    patch:
      operationId: Scim2ConnectionConfigController_partialUpdate
      summary: Update a SCIM Configuration
      description: Create a provisioning (SCIM) configuration for an account (tenant).
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: frontegg-tenant-id
        in: header
        description: The account (tenant) ID identifier
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Scim2PatchConnectionConfigRequest'
      responses:
        '204':
          description: ''
      tags:
      - SCIM Configurations
    delete:
      operationId: Scim2ConnectionConfigController_deleteById
      summary: Delete a SCIM Configuration
      description: Create a provisioning (SCIM) configuration for an account (tenant).
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: frontegg-tenant-id
        in: header
        description: The account (tenant) ID identifier
        required: false
        schema:
          type: string
      responses:
        '204':
          description: ''
      tags:
      - SCIM Configurations
components:
  schemas:
    Scim2PatchConnectionConfigRequest:
      type: object
      properties:
        syncToUserManagement:
          type: boolean
      required:
      - syncToUserManagement
    Scim2CreateConnectionConfigResponse:
      type: object
      properties:
        id:
          type: string
        connectionName:
          type: string
        token:
          type: string
      required:
      - id
      - connectionName
      - token
    Scim2ConnectionConfigResponse:
      type: object
      properties:
        id:
          type: string
        tenantId:
          type: string
        connectionName:
          type: string
        source:
          type: string
        syncToUserManagement:
          type: boolean
        lastSync:
          format: date-time
          type:
          - string
          - 'null'
        createdAt:
          format: date-time
          type: string
      required:
      - id
      - tenantId
      - connectionName
      - source
      - syncToUserManagement
      - lastSync
      - createdAt
    Scim2CreateConnectionConfigRequest:
      type: object
      properties:
        source:
          type: string
          enum:
          - frontegg
          - okta
          - azure-ad
          - other
        connectionName:
          type: string
        syncToUserManagement:
          type: boolean
      required:
      - source
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-refined-from:
- frontegg-combined-openapi.yml
- frontegg-scim-openapi.yml
x-tagGroups:
- name: Management
  tags:
  - Applications settings
