openapi: 3.2.0
info:
  title: Frontegg MFA Configuration API
  version: '1.0'
  description: 'Operations tagged MFA Configuration across 2 of this provider''s published API definitions: frontegg-combined-openapi.yml, frontegg-identity-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.frontegg.com/identity
  description: EU Region
- url: https://api.us.frontegg.com/identity
  description: US Region
- url: https://api.ca.frontegg.com/identity
  description: CA Region
- url: https://api.au.frontegg.com/identity
  description: AU Region
- url: https://{domain}.frontegg.com/identity
  description: Frontegg sub-domain for use with user tokens
  variables:
    domain:
      default: app-xxx
tags:
- name: MFA Configuration
  x-displayName: MFA configuration
paths:
  /resources/configurations/v1/mfa:
    servers:
    - url: https://api.frontegg.com/identity
      description: EU Region
    - url: https://api.us.frontegg.com/identity
      description: US Region
    - url: https://api.ca.frontegg.com/identity
      description: CA Region
    - url: https://api.au.frontegg.com/identity
      description: AU Region
    - url: https://{domain}.frontegg.com/identity
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    post:
      operationId: MfaController_upsertMfaConfig
      summary: Update MFA Configuration
      description: 'Update the MFA configuration for your environment.


        Provide the desired configuration values as objects in the request body. Refer to the parameter documentation for the list of supported values.'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MfaConfigRequest'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MfaConfigResponse'
      tags:
      - MFA Configuration
      security:
      - bearer: []
    get:
      operationId: MfaController_getMfaConfig
      summary: Get MFA Configuration
      description: Retrieve the MFA configuration for your environment.
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MfaConfigResponse'
      tags:
      - MFA Configuration
      security:
      - bearer: []
components:
  schemas:
    MfaConfigResponse:
      type: object
      properties:
        authenticationApp:
          $ref: '#/components/schemas/AuthenticationAppConfiguration'
        sms:
          $ref: '#/components/schemas/SmsConfiguration'
        email:
          $ref: '#/components/schemas/EmailConfiguration'
      required:
      - authenticationApp
      - sms
      - email
    AuthenticationAppConfiguration:
      type: object
      properties:
        active:
          type: boolean
        serviceName:
          type: string
      required:
      - active
      - serviceName
    MfaSmsConfig:
      type: object
      properties:
        active:
          type: boolean
        tokenLifetimeSeconds:
          type: number
          minimum: 300
      required:
      - active
      - tokenLifetimeSeconds
    MfaAuthAppConfig:
      type: object
      properties:
        active:
          type: boolean
        serviceName:
          type: string
      required:
      - active
      - serviceName
    MfaEmailConfig:
      type: object
      properties:
        active:
          type: boolean
        tokenLifetimeSeconds:
          type: number
          minimum: 300
        sender:
          type: string
      required:
      - active
      - tokenLifetimeSeconds
      - sender
    SmsConfiguration:
      type: object
      properties:
        active:
          type: boolean
        tokenLifetimeSeconds:
          type: number
      required:
      - active
      - tokenLifetimeSeconds
    EmailConfiguration:
      type: object
      properties:
        active:
          type: boolean
        tokenLifetimeSeconds:
          type: number
        sender:
          type: string
      required:
      - active
      - tokenLifetimeSeconds
      - sender
    MfaConfigRequest:
      type: object
      properties:
        authenticationApp:
          $ref: '#/components/schemas/MfaAuthAppConfig'
        sms:
          $ref: '#/components/schemas/MfaSmsConfig'
        email:
          $ref: '#/components/schemas/MfaEmailConfig'
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-refined-from:
- frontegg-combined-openapi.yml
- frontegg-identity-openapi.yml
x-tagGroups:
- name: Management
  tags:
  - Applications settings
