openapi: 3.2.0
info:
  title: Frontegg SAML Configurations API
  version: '1.0'
  description: 'Operations tagged SAML Configurations across 2 of this provider''s published API definitions: frontegg-combined-openapi.yml, frontegg-sso-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.frontegg.com/team
  description: EU Region
- url: https://api.us.frontegg.com/team
  description: US Region
- url: https://api.ca.frontegg.com/team
  description: CA Region
- url: https://api.au.frontegg.com/team
  description: AU Region
- url: https://{domain}.frontegg.com/team
  description: Frontegg sub-domain for use with user tokens
  variables:
    domain:
      default: app-xxx
tags:
- name: SAML Configurations
  x-displayName: SAML configurations
paths:
  /resources/sso/v1/saml/configurations/vendor-config:
    servers:
    - url: https://api.frontegg.com/team
      description: EU Region
    - url: https://api.us.frontegg.com/team
      description: US Region
    - url: https://api.ca.frontegg.com/team
      description: CA Region
    - url: https://api.au.frontegg.com/team
      description: AU Region
    - url: https://{domain}.frontegg.com/team
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    get:
      operationId: SamlControllerV1_getVendorSamlConfig
      summary: Get Vendor's SAML Config
      description: 'Retrieve the environment’s SAML configuration.


        Returns the current SAML identity provider settings configured for the environment.'
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorSamlConfigurationResponse'
      tags:
      - SAML Configurations
  /resources/sso/v1/saml/configurations/sp-certificate:
    servers:
    - url: https://api.frontegg.com/team
      description: EU Region
    - url: https://api.us.frontegg.com/team
      description: US Region
    - url: https://api.ca.frontegg.com/team
      description: CA Region
    - url: https://api.au.frontegg.com/team
      description: AU Region
    - url: https://{domain}.frontegg.com/team
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    get:
      operationId: SamlControllerV1_getSpCertificate
      summary: Get Service Provider Certificate
      description: Retrieve the service provider (SP) certificate used for SAML authentication.
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - SAML Configurations
components:
  schemas:
    VendorSamlConfigurationResponse:
      type: object
      properties: {}
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-refined-from:
- frontegg-combined-openapi.yml
- frontegg-sso-openapi.yml
x-tagGroups:
- name: Management
  tags:
  - Applications settings
