openapi: 3.0.0
info:
  title: Multi-Apps Overview Account Invitations Permissions Categories API
  description: Frontegg’s Multi-Apps feature simplifies and streamlines application management, delivering a seamless user experience. This section includes all necessary endpoints for managing applications and copying application settings across environments. All endpoints are categorized as **Management Endpoints**, requiring environment-level authorization and providing full control over entitlement resources.
  version: '1.0'
  x-metadata:
    note: Trigger publish artifacts job, remove this x-metadata after publishing
servers:
- url: https://api.frontegg.com/applications
  description: EU Region
- url: https://api.us.frontegg.com/applications
  description: US Region
- url: https://api.ca.frontegg.com/applications
  description: CA Region
- url: https://api.au.frontegg.com/applications
  description: AU Region
- url: https://{domain}.frontegg.com/applications
  description: Frontegg sub-domain for use with user tokens
  variables:
    domain:
      default: app-xxx
tags:
- name: Permissions Categories
  x-displayName: Permissions categories
paths:
  /resources/permissions/v1/categories:
    servers:
    - url: https://api.frontegg.com/identity
      description: EU Region
    - url: https://api.us.frontegg.com/identity
      description: US Region
    - url: https://api.ca.frontegg.com/identity
      description: CA Region
    - url: https://api.au.frontegg.com/identity
      description: AU Region
    - url: https://{domain}.frontegg.com/identity
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    get:
      operationId: PermissionsCategoriesController_getAllCategoriesWithPermissions
      summary: Get Permissions Categories
      description: Retrieves all permission categories for your environment. Each category includes its name, description, associated permissions, and metadata.
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PermissionCategoryResponseDto'
      tags:
      - Permissions Categories
      security:
      - bearer: []
    post:
      operationId: PermissionsCategoriesController_createPermissionCategory
      summary: Create Category
      description: 'Add a new permissions category.


        Provide the category information in the request body. Note that categories are not associated with permissions in this route — you can associate permissions by sending the category ID in the add or update permission routes.'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategoryDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionCategoryResponseDto'
      tags:
      - Permissions Categories
      security:
      - bearer: []
  /resources/permissions/v1/categories/{categoryId}:
    servers:
    - url: https://api.frontegg.com/identity
      description: EU Region
    - url: https://api.us.frontegg.com/identity
      description: US Region
    - url: https://api.ca.frontegg.com/identity
      description: CA Region
    - url: https://api.au.frontegg.com/identity
      description: AU Region
    - url: https://{domain}.frontegg.com/identity
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    patch:
      operationId: PermissionsCategoriesController_updateCategory
      summary: Update Category
      description: 'Update an existing permissions category.


        Provide the category ID as a path parameter to specify which category to update, and send the updated category information in the request body.


        This route does not update the permissions associated with the category. Use the add or update permissions routes to manage permission associations.'
      parameters:
      - name: categoryId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCategoryDto'
      responses:
        '200':
          description: ''
      tags:
      - Permissions Categories
      security:
      - bearer: []
    delete:
      operationId: PermissionsCategoriesController_deleteCategory
      summary: Delete Category
      description: 'Delete a permissions category.


        Provide the category ID as a path parameter to specify which category to delete. You can obtain the category ID using the **Get categories** API.'
      parameters:
      - name: categoryId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Permissions Categories
      security:
      - bearer: []
components:
  schemas:
    CreateCategoryDto:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        id:
          type: string
      required:
      - name
    PermissionCategoryResponseDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        createdAt:
          format: date-time
          type: string
        feCategory:
          type: boolean
      required:
      - id
      - name
      - description
      - createdAt
      - feCategory
    UpdateCategoryDto:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-tagGroups:
- name: Management
  tags:
  - Applications settings
