openapi: 3.2.0
info:
  title: Account Management Overview Resources API
  description: '

    Frontegg is built with multi-tenancy in mind, allowing the creation and management of multiple accounts (tenants) within an environment. This section provides an overview of relevant API endpoints, organized into Management and Self-Service categories, supporting the creation of accounts, hierarchies, and sub-accounts.


    **Management Endpoints**: Require environment-level authorization and offer full control over resources, including SSO (SAML and OIDC) configurations, account hierarchies, and sub-accounts.


    **Self-Service Endpoints**: Accessible with a user token (JWT), enabling users with the appropriate permissions to create, update, and delete sub-accounts from ah hierarchy.'
  version: '1.0'
servers:
- url: https://api.frontegg.com/tenants
  description: EU Region
- url: https://api.us.frontegg.com/tenants
  description: US Region
- url: https://api.ca.frontegg.com/tenants
  description: CA Region
- url: https://api.au.frontegg.com/tenants
  description: AU Region
- url: https://{domain}.frontegg.com/tenants
  description: Frontegg sub-domain for use with user tokens
  variables:
    domain:
      default: app-xxx
security:
- bearer: []
tags:
- name: Resources
paths:
  /resources/tenants/v2/alias/{alias}:
    get:
      operationId: TenantControllerV2_getTenantByAlias
      summary: Get Account (tenant) by Alias
      description: Get an account (tenant) with custom login by alias. When an account (tenant) cannot be found, an exception is thrown. A vendor token is required for this route, it can be obtained from the vendor authentication route.
      parameters:
      - name: alias
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Resources
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-tagGroups:
- name: Management
  tags:
  - Accounts
  - Sub-accounts and hierarchy
  - Account migration
- name: Self-Service
  tags:
  - Account settings
  - Sub-accounts
