openapi: 3.2.0
info:
  title: Entitlements Agent (PDP) Permissions Categories API
  description: 'The endpoints in this section pertain to the usage of an Entitlements Agent. When your application or service needs to verify entitlements, it can query the Entitlements Agent directly via HTTP.


    These endpoints can be integrated into any backend framework, enabling you to leverage entitlements for advanced authorization needs.'
  version: '1.0'
tags:
- name: Permissions Categories
  x-displayName: Permissions categories
paths:
  /resources/permissions/v1/categories:
    servers:
    - url: https://api.frontegg.com/identity
      description: EU Region
    - url: https://api.us.frontegg.com/identity
      description: US Region
    - url: https://api.ca.frontegg.com/identity
      description: CA Region
    - url: https://api.au.frontegg.com/identity
      description: AU Region
    - url: https://{domain}.frontegg.com/identity
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    get:
      operationId: PermissionsCategoriesController_getAllCategoriesWithPermissions
      summary: Get Permissions Categories
      description: Retrieves all permission categories for your environment. Each category includes its name, description, associated permissions, and metadata.
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PermissionCategoryResponseDto'
      tags:
      - Permissions Categories
      security:
      - bearer: []
    post:
      operationId: PermissionsCategoriesController_createPermissionCategory
      summary: Create Category
      description: 'Add a new permissions category.


        Provide the category information in the request body. Note that categories are not associated with permissions in this route — you can associate permissions by sending the category ID in the add or update permission routes.'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategoryDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionCategoryResponseDto'
      tags:
      - Permissions Categories
      security:
      - bearer: []
  /resources/permissions/v1/categories/{categoryId}:
    servers:
    - url: https://api.frontegg.com/identity
      description: EU Region
    - url: https://api.us.frontegg.com/identity
      description: US Region
    - url: https://api.ca.frontegg.com/identity
      description: CA Region
    - url: https://api.au.frontegg.com/identity
      description: AU Region
    - url: https://{domain}.frontegg.com/identity
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    patch:
      operationId: PermissionsCategoriesController_updateCategory
      summary: Update Category
      description: 'Update an existing permissions category.


        Provide the category ID as a path parameter to specify which category to update, and send the updated category information in the request body.


        This route does not update the permissions associated with the category. Use the add or update permissions routes to manage permission associations.'
      parameters:
      - name: categoryId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCategoryDto'
      responses:
        '200':
          description: ''
      tags:
      - Permissions Categories
      security:
      - bearer: []
    delete:
      operationId: PermissionsCategoriesController_deleteCategory
      summary: Delete Category
      description: 'Delete a permissions category.


        Provide the category ID as a path parameter to specify which category to delete. You can obtain the category ID using the **Get categories** API.'
      parameters:
      - name: categoryId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Permissions Categories
      security:
      - bearer: []
components:
  schemas:
    CreateCategoryDto:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        id:
          type: string
      required:
      - name
    UpdateCategoryDto:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
    PermissionCategoryResponseDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        createdAt:
          format: date-time
          type: string
        feCategory:
          type: boolean
      required:
      - id
      - name
      - description
      - createdAt
      - feCategory
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-tagGroups:
- name: Entitlements Agent (PDP)
  tags:
  - Entitlements Check
- name: Audits Overview
  tags:
  - Main
  - Metrics
- name: Entitlements Overview
  tags:
  - Plans
  - API Access Control
  - API Access Control Configurations
  - Features
  - Entitlements
  - Feature Flags
  - ReBAC
- name: Authentication and Identity Management
  tags:
  - API token
  - API tokens
  - Account invitations
  - Account invitations settings
  - Account roles
  - Approval Flows
  - Core settings
  - Custom social OAuth provider
  - Data migration
  - Delegation
  - Domain restrictions
  - Email configuration
  - Email templates
  - General
  - IP restrictions
  - Lockout policy
  - M2M tokens
  - MFA
  - MFA configuration
  - MFA settings
  - Password settings
  - Passwordless
  - Permissions
  - Permissions categories
  - Personal tokens
  - Roles
  - SMS
  - SMS configuration
  - SMS templates
  - Sessions configuration
  - Sessions management
  - User emails policy
  - User groups
  - User management
  - Users
  - User pools
  - User sessions
  - Users-applications management
- name: SCIM Provisioning Overview
  tags:
  - SCIM settings
  - SCIM configurations
- name: Single Sign-On Overview
  tags:
  - SAML configurations
  - SSO settings
  - SSO configurations
  - OIDC configurations
- name: Account Management Overview
  tags:
  - Accounts
  - tenants_other
  - Sub-accounts
  - Account settings
  - Account migration
  - Sub-accounts and hierarchy
