openapi: 3.2.0
info:
  title: Entitlements Agent (PDP) API Access Control Configurations…
  description: 'The endpoints in this section pertain to the usage of an Entitlements Agent. When your application or service needs to verify entitlements, it can query the Entitlements Agent directly via HTTP.


    These endpoints can be integrated into any backend framework, enabling you to leverage entitlements for advanced authorization needs.'
  version: '1.0'
tags:
- name: API Access Control Configurations
  x-displayName: API Access Control Configurations
paths:
  /resources/routes/v1/configuration:
    servers:
    - url: https://api.frontegg.com/entitlements
      description: EU Region
    - url: https://api.us.frontegg.com/entitlements
      description: US Region
    - url: https://api.ca.frontegg.com/entitlements
      description: CA Region
    - url: https://api.au.frontegg.com/entitlements
      description: AU Region
    - url: https://{domain}.frontegg.com/entitlements
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    get:
      operationId: RoutesConfigurationsControllerV1_getRoutesConfiguration
      x-tag: API Access Control Configurations
      summary: Get Routes Configuration
      description: Retrieve routes configuration
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutesConfigurationDto'
      tags:
      - API Access Control Configurations
      security:
      - bearer: []
    patch:
      operationId: RoutesConfigurationsControllerV1_updateRoutesConfiguration
      x-tag: API Access Control Configurations
      summary: Update Routes Configuration
      description: Update route configurations
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoutesConfigurationDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutesConfigurationDto'
      tags:
      - API Access Control Configurations
      security:
      - bearer: []
components:
  schemas:
    UpdateRoutesConfigurationDto:
      type: object
      properties:
        accessControlMode:
          type: string
          description: Access control mode
          example: monitor
          enum:
          - guard
          - monitor
      required:
      - accessControlMode
    RoutesConfigurationDto:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          example: b796239c-6641-4cf3-9ff3-658ad4049131
        vendorId:
          type: string
          readOnly: true
          example: b796239c-6641-4cf3-9ff3-658ad4049131
        accessControlMode:
          type: string
          readOnly: true
          example: monitor
          enum:
          - guard
          - monitor
      required:
      - id
      - vendorId
      - accessControlMode
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-tagGroups:
- name: Entitlements Agent (PDP)
  tags:
  - Entitlements Check
- name: Audits Overview
  tags:
  - Main
  - Metrics
- name: Entitlements Overview
  tags:
  - Plans
  - API Access Control
  - API Access Control Configurations
  - Features
  - Entitlements
  - Feature Flags
  - ReBAC
- name: Authentication and Identity Management
  tags:
  - API token
  - API tokens
  - Account invitations
  - Account invitations settings
  - Account roles
  - Approval Flows
  - Core settings
  - Custom social OAuth provider
  - Data migration
  - Delegation
  - Domain restrictions
  - Email configuration
  - Email templates
  - General
  - IP restrictions
  - Lockout policy
  - M2M tokens
  - MFA
  - MFA configuration
  - MFA settings
  - Password settings
  - Passwordless
  - Permissions
  - Permissions categories
  - Personal tokens
  - Roles
  - SMS
  - SMS configuration
  - SMS templates
  - Sessions configuration
  - Sessions management
  - User emails policy
  - User groups
  - User management
  - Users
  - User pools
  - User sessions
  - Users-applications management
- name: SCIM Provisioning Overview
  tags:
  - SCIM settings
  - SCIM configurations
- name: Single Sign-On Overview
  tags:
  - SAML configurations
  - SSO settings
  - SSO configurations
  - OIDC configurations
- name: Account Management Overview
  tags:
  - Accounts
  - tenants_other
  - Sub-accounts
  - Account settings
  - Account migration
  - Sub-accounts and hierarchy
