openapi: 3.2.0
info:
  title: Entitlements Agent (PDP) Lockout Policy API
  description: 'The endpoints in this section pertain to the usage of an Entitlements Agent. When your application or service needs to verify entitlements, it can query the Entitlements Agent directly via HTTP.


    These endpoints can be integrated into any backend framework, enabling you to leverage entitlements for advanced authorization needs.'
  version: '1.0'
tags:
- name: Lockout Policy
  x-displayName: Lockout policy
paths:
  /resources/configurations/v1/lockout-policy:
    servers:
    - url: https://api.frontegg.com/identity
      description: EU Region
    - url: https://api.us.frontegg.com/identity
      description: US Region
    - url: https://api.ca.frontegg.com/identity
      description: CA Region
    - url: https://api.au.frontegg.com/identity
      description: AU Region
    - url: https://{domain}.frontegg.com/identity
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    post:
      operationId: LockoutPolicyController_createLockoutPolicy
      summary: Create Lockout Policy
      description: 'Create a lockout policy for all accounts (tenants).


        To enable the lockout policy, set the `enabled` parameter to `true` and configure the `maximumAttempts` value as desired.'
      parameters:
      - name: frontegg-tenant-id
        in: header
        description: The account (tenant) ID identifier
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LockoutPolicyRequest'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockoutPolicyResponse'
        '409':
          description: Lockout Policy already exists
      tags:
      - Lockout Policy
      security:
      - bearer: []
    patch:
      operationId: LockoutPolicyController_updateLockoutPolicy
      summary: Update Lockout Policy
      description: 'Update the lockout policy for all accounts (tenants).


        To disable the lockout policy, set the `enabled` parameter to `false`. You can also update the `maximumAttempts` value as desired.'
      parameters:
      - name: frontegg-tenant-id
        in: header
        description: The account (tenant) ID identifier
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LockoutPolicyRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockoutPolicyResponse'
        '404':
          description: Lockout Policy not found. Try to use the Create Lockout Policy API
      tags:
      - Lockout Policy
      security:
      - bearer: []
    get:
      operationId: LockoutPolicyController_getLockoutPolicy
      summary: Get Lockout Policy
      description: Retrieve the lockout policy for all accounts (tenants) or for a specific account (tenant).
      parameters:
      - name: frontegg-tenant-id
        in: header
        description: The account (tenant) ID identifier
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockoutPolicyResponse'
        '404':
          description: Lockout policy is not defined
      tags:
      - Lockout Policy
      security:
      - bearer: []
components:
  schemas:
    LockoutPolicyResponse:
      type: object
      properties:
        id:
          type: string
        enabled:
          type: boolean
        maxAttempts:
          type: number
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
      required:
      - id
      - enabled
      - maxAttempts
      - createdAt
      - updatedAt
    LockoutPolicyRequest:
      type: object
      properties:
        enabled:
          type: boolean
          description: Determine whether the Lockout Policy is enabled
        maxAttempts:
          type: number
          description: The number of the maximum login attempts user can do
          minimum: 1
      required:
      - enabled
      - maxAttempts
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-tagGroups:
- name: Entitlements Agent (PDP)
  tags:
  - Entitlements Check
- name: Audits Overview
  tags:
  - Main
  - Metrics
- name: Entitlements Overview
  tags:
  - Plans
  - API Access Control
  - API Access Control Configurations
  - Features
  - Entitlements
  - Feature Flags
  - ReBAC
- name: Authentication and Identity Management
  tags:
  - API token
  - API tokens
  - Account invitations
  - Account invitations settings
  - Account roles
  - Approval Flows
  - Core settings
  - Custom social OAuth provider
  - Data migration
  - Delegation
  - Domain restrictions
  - Email configuration
  - Email templates
  - General
  - IP restrictions
  - Lockout policy
  - M2M tokens
  - MFA
  - MFA configuration
  - MFA settings
  - Password settings
  - Passwordless
  - Permissions
  - Permissions categories
  - Personal tokens
  - Roles
  - SMS
  - SMS configuration
  - SMS templates
  - Sessions configuration
  - Sessions management
  - User emails policy
  - User groups
  - User management
  - Users
  - User pools
  - User sessions
  - Users-applications management
- name: SCIM Provisioning Overview
  tags:
  - SCIM settings
  - SCIM configurations
- name: Single Sign-On Overview
  tags:
  - SAML configurations
  - SSO settings
  - SSO configurations
  - OIDC configurations
- name: Account Management Overview
  tags:
  - Accounts
  - tenants_other
  - Sub-accounts
  - Account settings
  - Account migration
  - Sub-accounts and hierarchy
