openapi: 3.2.0
info:
  title: Frontegg SCIM Settings API
  version: '1.0'
  description: 'Operations tagged SCIM Settings across 2 of this provider''s published API definitions: frontegg-combined-openapi.yml, frontegg-scim-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.frontegg.com/directory
  description: EU Region
- url: https://api.us.frontegg.com/directory
  description: US Region
- url: https://api.ca.frontegg.com/directory
  description: CA Region
- url: https://api.au.frontegg.com/directory
  description: AU Region
- url: https://{domain}.frontegg.com/directory
  description: Frontegg sub-domain for use with user tokens
  variables:
    domain:
      default: app-xxx
tags:
- name: SCIM Settings
  x-displayName: SCIM settings
paths:
  /resources/v1/configurations/scim2:
    servers:
    - url: https://api.frontegg.com/directory
      description: EU Region
    - url: https://api.us.frontegg.com/directory
      description: US Region
    - url: https://api.ca.frontegg.com/directory
      description: CA Region
    - url: https://api.au.frontegg.com/directory
      description: AU Region
    - url: https://{domain}.frontegg.com/directory
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    get:
      operationId: Scim2ConnectionConfigController_fetchAll
      summary: Get All SCIM Configurations
      description: Retrieve all provisioning (SCIM) configurations for the environment.
      parameters:
      - name: tenantId
        required: false
        in: query
        schema:
          type: string
      - name: source
        required: false
        in: query
        schema:
          type: string
      - name: connectionName
        required: false
        in: query
        schema:
          type: string
      - name: id
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of SCIM configurations. Vendor only endpoint
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Scim2ConnectionConfigResponse'
      tags:
      - SCIM Settings
components:
  schemas:
    Scim2ConnectionConfigResponse:
      type: object
      properties:
        id:
          type: string
        tenantId:
          type: string
        connectionName:
          type: string
        source:
          type: string
        syncToUserManagement:
          type: boolean
        lastSync:
          format: date-time
          type:
          - string
          - 'null'
        createdAt:
          format: date-time
          type: string
      required:
      - id
      - tenantId
      - connectionName
      - source
      - syncToUserManagement
      - lastSync
      - createdAt
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-refined-from:
- frontegg-combined-openapi.yml
- frontegg-scim-openapi.yml
x-tagGroups:
- name: Management
  tags:
  - Applications settings
