openapi: 3.2.0
info:
  title: Entitlements Agent (PDP) MFA Configuration API
  description: 'The endpoints in this section pertain to the usage of an Entitlements Agent. When your application or service needs to verify entitlements, it can query the Entitlements Agent directly via HTTP.


    These endpoints can be integrated into any backend framework, enabling you to leverage entitlements for advanced authorization needs.'
  version: '1.0'
tags:
- name: MFA Configuration
  x-displayName: MFA configuration
paths:
  /resources/configurations/v1/mfa:
    servers:
    - url: https://api.frontegg.com/identity
      description: EU Region
    - url: https://api.us.frontegg.com/identity
      description: US Region
    - url: https://api.ca.frontegg.com/identity
      description: CA Region
    - url: https://api.au.frontegg.com/identity
      description: AU Region
    - url: https://{domain}.frontegg.com/identity
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    post:
      operationId: MfaController_upsertMfaConfig
      summary: Update MFA Configuration
      description: 'Update the MFA configuration for your environment.


        Provide the desired configuration values as objects in the request body. Refer to the parameter documentation for the list of supported values.'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MfaConfigRequest'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MfaConfigResponse'
      tags:
      - MFA Configuration
      security:
      - bearer: []
    get:
      operationId: MfaController_getMfaConfig
      summary: Get MFA Configuration
      description: Retrieve the MFA configuration for your environment.
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MfaConfigResponse'
      tags:
      - MFA Configuration
      security:
      - bearer: []
components:
  schemas:
    SmsConfiguration:
      type: object
      properties:
        active:
          type: boolean
        tokenLifetimeSeconds:
          type: number
      required:
      - active
      - tokenLifetimeSeconds
    MfaEmailConfig:
      type: object
      properties:
        active:
          type: boolean
        tokenLifetimeSeconds:
          type: number
          minimum: 300
        sender:
          type: string
      required:
      - active
      - tokenLifetimeSeconds
      - sender
    MfaAuthAppConfig:
      type: object
      properties:
        active:
          type: boolean
        serviceName:
          type: string
      required:
      - active
      - serviceName
    AuthenticationAppConfiguration:
      type: object
      properties:
        active:
          type: boolean
        serviceName:
          type: string
      required:
      - active
      - serviceName
    MfaSmsConfig:
      type: object
      properties:
        active:
          type: boolean
        tokenLifetimeSeconds:
          type: number
          minimum: 300
      required:
      - active
      - tokenLifetimeSeconds
    EmailConfiguration:
      type: object
      properties:
        active:
          type: boolean
        tokenLifetimeSeconds:
          type: number
        sender:
          type: string
      required:
      - active
      - tokenLifetimeSeconds
      - sender
    MfaConfigResponse:
      type: object
      properties:
        authenticationApp:
          $ref: '#/components/schemas/AuthenticationAppConfiguration'
        sms:
          $ref: '#/components/schemas/SmsConfiguration'
        email:
          $ref: '#/components/schemas/EmailConfiguration'
      required:
      - authenticationApp
      - sms
      - email
    MfaConfigRequest:
      type: object
      properties:
        authenticationApp:
          $ref: '#/components/schemas/MfaAuthAppConfig'
        sms:
          $ref: '#/components/schemas/MfaSmsConfig'
        email:
          $ref: '#/components/schemas/MfaEmailConfig'
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-tagGroups:
- name: Entitlements Agent (PDP)
  tags:
  - Entitlements Check
- name: Audits Overview
  tags:
  - Main
  - Metrics
- name: Entitlements Overview
  tags:
  - Plans
  - API Access Control
  - API Access Control Configurations
  - Features
  - Entitlements
  - Feature Flags
  - ReBAC
- name: Authentication and Identity Management
  tags:
  - API token
  - API tokens
  - Account invitations
  - Account invitations settings
  - Account roles
  - Approval Flows
  - Core settings
  - Custom social OAuth provider
  - Data migration
  - Delegation
  - Domain restrictions
  - Email configuration
  - Email templates
  - General
  - IP restrictions
  - Lockout policy
  - M2M tokens
  - MFA
  - MFA configuration
  - MFA settings
  - Password settings
  - Passwordless
  - Permissions
  - Permissions categories
  - Personal tokens
  - Roles
  - SMS
  - SMS configuration
  - SMS templates
  - Sessions configuration
  - Sessions management
  - User emails policy
  - User groups
  - User management
  - Users
  - User pools
  - User sessions
  - Users-applications management
- name: SCIM Provisioning Overview
  tags:
  - SCIM settings
  - SCIM configurations
- name: Single Sign-On Overview
  tags:
  - SAML configurations
  - SSO settings
  - SSO configurations
  - OIDC configurations
- name: Account Management Overview
  tags:
  - Accounts
  - tenants_other
  - Sub-accounts
  - Account settings
  - Account migration
  - Sub-accounts and hierarchy
