openapi: 3.2.0
info:
  title: Entitlements Agent (PDP) Sessions Management API
  description: 'The endpoints in this section pertain to the usage of an Entitlements Agent. When your application or service needs to verify entitlements, it can query the Entitlements Agent directly via HTTP.


    These endpoints can be integrated into any backend framework, enabling you to leverage entitlements for advanced authorization needs.'
  version: '1.0'
tags:
- name: Sessions Management
  x-displayName: Sessions management
paths:
  /resources/configurations/sessions/v1:
    servers:
    - url: https://api.frontegg.com/identity
      description: EU Region
    - url: https://api.us.frontegg.com/identity
      description: US Region
    - url: https://api.ca.frontegg.com/identity
      description: CA Region
    - url: https://api.au.frontegg.com/identity
      description: AU Region
    - url: https://{domain}.frontegg.com/identity
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    get:
      operationId: SessionConfigurationControllerV1_getSessionConfiguration
      summary: Get Account (tenant) or Vendor Default Session Configuration
      description: Retrieve the session configuration for the entire environment or for a specific account (tenant).
      parameters:
      - name: frontegg-tenant-id
        in: header
        description: The account (tenant) ID identifier
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Sessions Management
      security:
      - bearer: []
    post:
      operationId: SessionConfigurationControllerV1_createSessionConfiguration
      summary: Create or Update Account (tenant) or Vendor Default Session Configuration
      description: Create or update the session configuration for the entire environment or for a specific account (tenant).
      parameters:
      - name: frontegg-tenant-id
        in: header
        description: The account (tenant) ID identifier
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionConfigurationRequest'
      responses:
        '201':
          description: ''
      tags:
      - Sessions Management
      security:
      - bearer: []
components:
  schemas:
    SessionConcurrentConfigurationDto:
      type: object
      properties:
        isActive:
          type: boolean
        maxSessions:
          type: number
          minimum: 1
      required:
      - isActive
      - maxSessions
    SessionTimeoutConfigurationDto:
      type: object
      properties:
        isActive:
          type: boolean
        timeout:
          type: number
          minimum: 60
      required:
      - isActive
      - timeout
    CreateSessionConfigurationRequest:
      type: object
      properties:
        sessionIdleTimeoutConfiguration:
          $ref: '#/components/schemas/SessionIdleTimeoutConfigurationDto'
        sessionTimeoutConfiguration:
          $ref: '#/components/schemas/SessionTimeoutConfigurationDto'
        sessionConcurrentConfiguration:
          $ref: '#/components/schemas/SessionConcurrentConfigurationDto'
    SessionIdleTimeoutConfigurationDto:
      type: object
      properties:
        isActive:
          type: boolean
        timeout:
          type: number
          minimum: 60
          maximum: 2073600
      required:
      - isActive
      - timeout
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-tagGroups:
- name: Entitlements Agent (PDP)
  tags:
  - Entitlements Check
- name: Audits Overview
  tags:
  - Main
  - Metrics
- name: Entitlements Overview
  tags:
  - Plans
  - API Access Control
  - API Access Control Configurations
  - Features
  - Entitlements
  - Feature Flags
  - ReBAC
- name: Authentication and Identity Management
  tags:
  - API token
  - API tokens
  - Account invitations
  - Account invitations settings
  - Account roles
  - Approval Flows
  - Core settings
  - Custom social OAuth provider
  - Data migration
  - Delegation
  - Domain restrictions
  - Email configuration
  - Email templates
  - General
  - IP restrictions
  - Lockout policy
  - M2M tokens
  - MFA
  - MFA configuration
  - MFA settings
  - Password settings
  - Passwordless
  - Permissions
  - Permissions categories
  - Personal tokens
  - Roles
  - SMS
  - SMS configuration
  - SMS templates
  - Sessions configuration
  - Sessions management
  - User emails policy
  - User groups
  - User management
  - Users
  - User pools
  - User sessions
  - Users-applications management
- name: SCIM Provisioning Overview
  tags:
  - SCIM settings
  - SCIM configurations
- name: Single Sign-On Overview
  tags:
  - SAML configurations
  - SSO settings
  - SSO configurations
  - OIDC configurations
- name: Account Management Overview
  tags:
  - Accounts
  - tenants_other
  - Sub-accounts
  - Account settings
  - Account migration
  - Sub-accounts and hierarchy
