openapi: 3.2.0
info:
  title: Frontegg OIDC Configurations API
  version: '1.0'
  description: 'Operations tagged OIDC Configurations across 2 of this provider''s published API definitions: frontegg-combined-openapi.yml, frontegg-sso-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.frontegg.com/team
  description: EU Region
- url: https://api.us.frontegg.com/team
  description: US Region
- url: https://api.ca.frontegg.com/team
  description: CA Region
- url: https://api.au.frontegg.com/team
  description: AU Region
- url: https://{domain}.frontegg.com/team
  description: Frontegg sub-domain for use with user tokens
  variables:
    domain:
      default: app-xxx
tags:
- name: OIDC Configurations
  x-displayName: OIDC configurations
paths:
  /resources/sso/v1/oidc/configurations:
    servers:
    - url: https://api.frontegg.com/team
      description: EU Region
    - url: https://api.us.frontegg.com/team
      description: US Region
    - url: https://api.ca.frontegg.com/team
      description: CA Region
    - url: https://api.au.frontegg.com/team
      description: AU Region
    - url: https://{domain}.frontegg.com/team
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    get:
      operationId: OidcControllerV1_getOidcConifguration
      summary: Get OIDC Configuration
      description: Retrieve the OpenID Connect (OIDC) configuration for the environment.
      parameters: []
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigureOidcResponse'
      tags:
      - OIDC Configurations
components:
  schemas:
    ConfigureOidcResponse:
      type: object
      properties: {}
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-refined-from:
- frontegg-combined-openapi.yml
- frontegg-sso-openapi.yml
x-tagGroups:
- name: Management
  tags:
  - Applications settings
