openapi: 3.2.0
info:
  title: Frontegg Sessions Management API
  version: '1.0'
  description: 'Operations tagged Sessions Management across 2 of this provider''s published API definitions: frontegg-combined-openapi.yml, frontegg-identity-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.frontegg.com/identity
  description: EU Region
- url: https://api.us.frontegg.com/identity
  description: US Region
- url: https://api.ca.frontegg.com/identity
  description: CA Region
- url: https://api.au.frontegg.com/identity
  description: AU Region
- url: https://{domain}.frontegg.com/identity
  description: Frontegg sub-domain for use with user tokens
  variables:
    domain:
      default: app-xxx
tags:
- name: Sessions Management
  x-displayName: Sessions management
paths:
  /resources/configurations/sessions/v1:
    servers:
    - url: https://api.frontegg.com/identity
      description: EU Region
    - url: https://api.us.frontegg.com/identity
      description: US Region
    - url: https://api.ca.frontegg.com/identity
      description: CA Region
    - url: https://api.au.frontegg.com/identity
      description: AU Region
    - url: https://{domain}.frontegg.com/identity
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    get:
      operationId: SessionConfigurationControllerV1_getSessionConfiguration
      summary: Get Account (tenant) or Vendor Default Session Configuration
      description: Retrieve the session configuration for the entire environment or for a specific account (tenant).
      parameters:
      - name: frontegg-tenant-id
        in: header
        description: The account (tenant) ID identifier
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - Sessions Management
      security:
      - bearer: []
    post:
      operationId: SessionConfigurationControllerV1_createSessionConfiguration
      summary: Create or Update Account (tenant) or Vendor Default Session Configuration
      description: Create or update the session configuration for the entire environment or for a specific account (tenant).
      parameters:
      - name: frontegg-tenant-id
        in: header
        description: The account (tenant) ID identifier
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionConfigurationRequest'
      responses:
        '201':
          description: ''
      tags:
      - Sessions Management
      security:
      - bearer: []
components:
  schemas:
    SessionTimeoutConfigurationDto:
      type: object
      properties:
        isActive:
          type: boolean
        timeout:
          type: number
          minimum: 60
      required:
      - isActive
      - timeout
    SessionConcurrentConfigurationDto:
      type: object
      properties:
        isActive:
          type: boolean
        maxSessions:
          type: number
          minimum: 1
      required:
      - isActive
      - maxSessions
    SessionIdleTimeoutConfigurationDto:
      type: object
      properties:
        isActive:
          type: boolean
        timeout:
          type: number
          minimum: 60
          maximum: 2073600
      required:
      - isActive
      - timeout
    CreateSessionConfigurationRequest:
      type: object
      properties:
        sessionIdleTimeoutConfiguration:
          $ref: '#/components/schemas/SessionIdleTimeoutConfigurationDto'
        sessionTimeoutConfiguration:
          $ref: '#/components/schemas/SessionTimeoutConfigurationDto'
        sessionConcurrentConfiguration:
          $ref: '#/components/schemas/SessionConcurrentConfigurationDto'
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-refined-from:
- frontegg-combined-openapi.yml
- frontegg-identity-openapi.yml
x-tagGroups:
- name: Management
  tags:
  - Applications settings
