openapi: 3.0.0
info:
  title: Multi-Apps Overview Account Invitations SMS Configuration API
  description: Frontegg’s Multi-Apps feature simplifies and streamlines application management, delivering a seamless user experience. This section includes all necessary endpoints for managing applications and copying application settings across environments. All endpoints are categorized as **Management Endpoints**, requiring environment-level authorization and providing full control over entitlement resources.
  version: '1.0'
  x-metadata:
    note: Trigger publish artifacts job, remove this x-metadata after publishing
servers:
- url: https://api.frontegg.com/applications
  description: EU Region
- url: https://api.us.frontegg.com/applications
  description: US Region
- url: https://api.ca.frontegg.com/applications
  description: CA Region
- url: https://api.au.frontegg.com/applications
  description: AU Region
- url: https://{domain}.frontegg.com/applications
  description: Frontegg sub-domain for use with user tokens
  variables:
    domain:
      default: app-xxx
tags:
- name: SMS Configuration
  x-displayName: SMS configuration
paths:
  /resources/configurations/v1/sms:
    servers:
    - url: https://api.frontegg.com/identity
      description: EU Region
    - url: https://api.us.frontegg.com/identity
      description: US Region
    - url: https://api.ca.frontegg.com/identity
      description: CA Region
    - url: https://api.au.frontegg.com/identity
      description: AU Region
    - url: https://{domain}.frontegg.com/identity
      description: Frontegg sub-domain for use with user tokens
      variables:
        domain:
          default: app-xxx
    post:
      operationId: VendorSmsController_createSmsVendorConfig
      summary: Creates or Updates a Vendor SMS Config
      description: 'Create or update the SMS configuration for your environment.


        Provide the desired SMS configuration values in the request body.'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSmsVendorConfigRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsVendorConfigResponse'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsVendorConfigResponse'
      tags:
      - SMS Configuration
      security:
      - bearer: []
    delete:
      operationId: VendorSmsController_deleteSmsVendorConfig
      summary: Deletes a Vendor SMS Config
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - SMS Configuration
      description: Delete the SMS configuration for your environment.
      security:
      - bearer: []
    get:
      operationId: VendorSmsController_getSmsVendorConfig
      summary: Gets a Vendor SMS Config
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsVendorConfigResponse'
      tags:
      - SMS Configuration
      description: Retrieve the SMS configuration for your environment.
      security:
      - bearer: []
components:
  schemas:
    CreateSmsVendorConfigRequest:
      type: object
      properties:
        senderName:
          type: string
          description: The sender name will be used only when alphanumeric sender is supported in the recipient country. This is usually a phone number or the name of the sender, dependeing on what is configured on your Twilio account
        accountId:
          type: string
          description: account ID
        token:
          type: string
          description: token
        serviceId:
          type: string
          description: service ID
        provider:
          type: string
          description: provider
        channel:
          type: string
          description: channel
    SmsVendorConfigResponse:
      type: object
      properties: {}
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-tagGroups:
- name: Management
  tags:
  - Applications settings
